*{
    margin: 10px;
    padding: 0;
}
body{
    display: flex;
    flex-wrap: wrap;
    background: rgb(211, 211, 211);
    margin: 3px;
    flex: 1 1 100vw;
}

    

#plano1{
    background: rgb(211, 211, 211);;
    border: red solid 1px;
    border-radius: 5px;
  display: flex;
  width: 165px;
  justify-content: center;
  height: 160px;
  flex-wrap: wrap;
    
    
}

#plano2{
    background: rgb(211, 211, 211);
    border: red solid 1px;
    border-radius: 5px;
    display: flex;
    width: 165px;
    justify-content: center;
  height: 160px;
  flex-wrap: wrap;


   
   
 
}

header{
    background-color: rgb(134, 3, 3);
    border: solid rgba(192, 7, 7) 1px;
    flex: 1 1 100vw;
    
}
img{
    
   
    width: 10vw;
    height: 10vw;
    flex: 1 1 100vw;
}

main{
    background-color: rgb(134, 3, 3);
    border: solid blue 1px;
    display: flex;
    justify-content: center;
    flex: 100vw;
    gap: 50px;
    margin: auto;
    margin-top: 1vw;
   
    
}


#imagens{
    border: solid red 1px;
    display: flex;
    flex: 1 1 100vw ;
    justify-content: center;
    gap: 50px;
}

ul{
        border: solid 1px;
        height: 200px;
        width: 250px;
}
    
    

nav{
    border: solid blue 1px;
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: auto;
}


footer{
    background-color: rgb(134, 3, 3);
    border: solid green 1px;
    flex: 1 1 100vw;
   
}