*{
    margin: 10px;
    padding: 0;
}
body{
    display: flex;
    flex-wrap: wrap;
    background: rgb(206, 204, 204);
    margin: 3px;
    flex: 1 1 100vw;
}

    
#plano1{
    
    
    
}

#plano2{
   
    margin-top: 20px;
 
}

header{
    border: solid red 1px;
    flex: 1 1 100vw;
    
}
img{
    
   
    width: 10vw;
    height: 10vw;
    flex: 1 1 100vw;
}

main{
    border: solid blue 1px;
    display: flex;
    justify-content: center;
    flex: 100vw;
    gap: 50px;
    margin: auto;
    margin-top: 1vw;
   
    
}
    
    

nav{
    border: solid blue 1px;
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: auto;
}


footer{
    border: solid green 1px;
    flex: 1 1 100vw;
   
}

